@font-face {
  font-family: RedHatDisplay;
  src: url('./assets/fonts/RedHatDisplay-VariableFont_wght.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(225, 100%, 94%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}